/PriestGuy/obj/Release/PriestGuy.dll
/PriestGuy/obj/Release/*.pdb
/libs/Anthrax.WoW.dll
/libs/Anthrax.exe
/Builds/PriestGuy.dll
/Builds/PriestGuy.pdb
/PriestGuy/obj/Debug/PriestGuy.dll
/PriestGuy/obj/Debug/PriestGuy.pdb
